*~
/Documentation/Makefile.in
/Documentation/Overview/Makefile.in
/Documentation/Reference/Makefile.in
/Documentation/Tutorial/Kavanek/Makefile.in
/Documentation/Tutorial/Makefile.in
/Makefile.in
/Setup/Makefile.in
/Sources/API/Makefile.in
/Sources/Application/Makefile.in
/Sources/Core/Makefile.in
/Sources/Display/Makefile.in
/Sources/GL/Makefile.in
/Sources/GUI/Makefile.in
/Sources/GUIStyleSilver/Makefile.in
/Sources/Makefile.in
/Sources/MikMod/Makefile.in
/Sources/Network/Makefile.in
/Sources/SDL/Makefile.in
/Sources/Signals/Makefile.in
/Sources/Sound/Makefile.in
/Sources/Vorbis/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/pkgconfig/Makefile.in
